<?php

return array(
    'hybrid_auth' => array(
        'google' => array(
            'id' => '',
            'secret' => '',
        ),
    ),

    'rdn_db_adapters' => array(
        'adapters' => array(
            'default' => array(
                'driver'   => 'pdo_mysql',
                'hostname' => '',
                'username' => '',
                'password' => '',
                'database' => '',
            ),
        ),
    ),
);
